<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewData["Title"]</title>
    <link href="/iconcp/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div id="form1">
        <table class="head" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td rowspan="2"><img src="/iconcp/logo.png" style="height:30px;padding:5px 0;margin-left:10px;"></td>
                    <td class="head1">
                        <p style="margin:10px 0 5px 0;">Xin chào, <b>admin</b>&nbsp;<a class="dtw" onclick="javascript:return confirm('Bạn thật sự muốn thoát không?')" href="index.aspx?do=logout">Thoát</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="head2">
                        <h1>Welcome to Control Panel</h1>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="main-content" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="main-content-left">
                        <div style="border-bottom: #95b3de 1px solid; text-align:center; padding:5px;"><a asp-controller="Product">Control Panel Home</a></div>
                        <div style="border-top: #ffffff 1px solid; height:10px;"><img src="/iconcp/null.gif"></div>
                        <div class="col-left">
                            <div class="title-left">Quản lý danh mục</div>
                            <a class="menuleft" asp-controller="Warehouse" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục kho hàng</a>
                            <a class="menuleft" asp-controller="Product" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục hàng hóa</a>
                            <a class="menuleft" asp-controller="Category" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục ngành hàng</a>
                            <a class="menuleft" asp-controller="Partner" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục nhà cung cấp</a>
                            <a class="menuleft" asp-controller="Customer" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục khách hàng</a>
                            <a class="menuleft" asp-controller="User" asp-action="index"><img class="imgmid" src="/iconcp/icon_menu.png"> Danh mục nhân viên</a>

                            <div class="title-left">Quản lý xuất kho</div>
                            <a class="menuleft" asp-controller="SaleInvoice" asp-action="Index"><img class="imgmid" src="/iconcp/icon_pro.png">Danh sách hóa đơn</a>
                            <a class="menuleft" asp-controller="SaleInvoice" asp-action="Create"><img class="imgmid" src="/iconcp/icon_pro.png">Xuất kho bán hàng</a>
                            <a class="menuleft" asp-controller="SaleInvoice" asp-action="ReturnProduct"><img class="imgmid" src="/iconcp/icon_pro.png">Trả hàng NCC</a>

                            <div class="title-left">Quản lý nhập kho</div>
                            <a class="menuleft" asp-controller="PurchaseInvoice" asp-action="Index"><img class="imgmid" src="/iconcp/icon_pro.png">Danh sách hóa đơn</a>
                            <a class="menuleft" asp-controller="PurchaseInvoice" asp-action="Create"><img class="imgmid" src="/iconcp/icon_pro.png">Nhập kho bán hàng</a>
                            <a class="menuleft" asp-controller="PurchaseInvoice" asp-action="ReturnProduct"><img class="imgmid" src="/iconcp/icon_pro.png">Hóa đơn trả hàng</a>

                            <div class="title-left">Quản lý tồn kho</div>
                            <a class="menuleft" href="pro.aspx"><img class="imgmid" src="/iconcp/icon_pro.png">Theo dõi tồn kho</a>
                            <a class="menuleft" href="thuoctinhG.aspx"><img class="imgmid" src="/iconcp/icon_pro.png">Cập nhật tồn kho khi có giao dịch</a>

                            <div class="title-left">Báo cáo thống kê</div>
                            <a class="menuleft" href="pro.aspx"><img class="imgmid" src="/iconcp/icon_pro.png">Báo cáo danh thu bán hàng</a>
                            <a class="menuleft" href="thuoctinhG.aspx"><img class="imgmid" src="/iconcp/icon_pro.png">Thống kê về sản phẩm bán chạy</a>
                            <a class="menuleft" href="thuoctinh.aspx"><img class="imgmid" src="/iconcp/icon_pro.png">Báo cáo tồn kho</a>
                            <a class="menuleft" href="news.aspx"><img class="imgmid" src="/iconcp/icon_news.png"> Báo cáo nhập xuất</a>
                            <a class="menuleft" href="advert.aspx"><img class="imgmid" src="/iconcp/icon_media.png"> Lịch sử lấy hàng từ NCC</a>

                            <div class="title-left">Khác</div>
                            <a class="menuleft" href="pass.aspx"><img class="imgmid" src="/iconcp/icon_pass.png"> Đổi mật khẩu</a>
                            <a class="menuleft" href="index.aspx?do=logout" onclick="javascript:return confirm('Bạn thật sự muốn thoát không?')"><img class="imgmid" src="iconcp/icon_logout.png"> Thoát</a>
                        </div>
                    </td>
                    <td class="main-content-right">
                        <h1 class="main-title"><span id="lblLink">@ViewData["Title"]</span></h1>
                        @RenderBody()
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="footer" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="padding:10px;">Xem tốt nhất trên trình duyệt Firefox hoặc Chrome với độ phân giải 1366x768 px</td>
                    <td style="text-align:right; padding:10px;">Code by Đặng Hương Giang</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    let table = new DataTable('#dtgrView', {
        responsive: true,
        processing: true,
        lengthMenu: [15, 25, 50, 100],
    });

    $(document).ready(function () {
        $('.select2').select2();
    });
</script>

@RenderSection("Scripts", required: false)