@model InventoryManagement.Models.CategoryModels.CategoryViewModel
@{
    ViewData["Title"] = "Cập nhật ngành hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Update" method="post">
    <input type="hidden" value="@Model.Id" asp-for="Id"/>
    <table id="tblAdd" style="width:100%;" cellpadding="0" cellspacing="1">
        <tbody>
            <tr class="tr-view">
                <td colspan="2" class="td-view-left">
                    <input type="submit" value="Ghi nhận" id="btnAddU1" class="button">
                    <input type="reset" class="button" value="Mặc định">
                </td>
            </tr>
            <tr>
                <td class="td1"><div style="width:105px;">Tên ngành hàng:</div></td>
                <td class="td2"><input value="@Model.Name" type="text" maxlength="150" asp-for="Name" class="textbox" style="width: 250px;"></td>
            </tr>
            <tr>
                <td class="td1">Mô tả ngắn:</td>
                <td class="td2"><textarea rows="8" cols="20" asp-for="Description" class="textbox" style="width:98%;">@Model.Description</textarea></td>
            </tr>
            <tr>
                <td class="td1">&nbsp;</td>
                <td class="td1" style="text-align:left;">
                    <input type="submit" value="Ghi nhận" class="button" style="width:100px;">
                    <input type="reset" class="button" value="Mặc định" style="width:100px;">
                </td>
            </tr>
        </tbody>
    </table>
</form>

