@model InventoryManagement.Models.OauthModels.ForgotPasswordRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>
        Yêu cầu lấy lại mật khẩu
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/iconcp/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="/iconcp/logo.png" style="height: 30px; vertical-align: middle; display: inline-block; float: left;" alt="" />
            <span style="display: inline-block; float: left; margin: 5px 0 0 15px;">Yêu cầu lấy lại mật khẩu</span>
            <div style="clear: both;"></div>
        </div>
        <div class="login-box-body">
            <form method="post" asp-controller="Oauth" asp-action="ForgotPassword" id="form1">
                <div class="form-group">
                    <input asp-for="@Model.Email" type="password" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input asp-for="@Model.PhoneNumber" type="password" class="form-control" placeholder="Số điện thoại" />
                </div>
                <div class="form-group" style="border-top: 1px solid #ddd; padding-top: 15px; text-align: right; margin-bottom: 5px;">
                    <input type="submit" name="Button1" value="Gửi yêu cầu" id="Button1" class="btn" />
                </div>
            </form>
            <div class="alert-error text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
</body>
</html>
